NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GOOGLE_ID=
GOOGLE_SECRET=

CREDENTIALS_ENDPOINT=https://localhost:7167

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true

NODE_TLS_REJECT_UNAUTHORIZED="0"
